@page "/about"
    <div class="row">
        <div class="col-4">
            <div class="main_message">
                <h3>Информация о компании</h3>
                <p>Компания на рынке уже 26 лет.</p>
                <p>Адрес: г. Брест ул. Московска 350 </p>
                <p>Телефон: +375(29)7995511</p>
                <p>Email: vakansiy@gmail.com</p>

                            
            </div>
        </div>
    </div>
    

    @code {

    }
